*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    border: 1px solid red;
}

footer{
    height: 100px;
    border:1px solid green;
}

.row{
    display: flex;
}

.cols{
   height: calc(100vh - 150px);
   overflow: scroll;
}

.col_200{
   width: 200px;
   border:1px solid orange;
}

.col{
    width: calc(100% - 200px);
    border:1px solid violet;
}
